<!DOCTYPE html>
<html>
  <head>
    <title>SmarteeAi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="flex flex-col h-screen">
    <div id="page-content" class="flex-1">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
</html>
